<%- include('partials/header') %> <!-- imported header from partails -->

    <head>
        <link rel="stylesheet" href="/home.css">
        <title>Document</title>
        <script src="/js/index.js"></script>
    </head>

    <body>
        <div class="homepage">
            <h1 id="homepage-text">Welcome AOTians !</h1>
        </div>
        <!-- FOOTER -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <h4>Find Us</h4>
                        <ul>
                            <li>
                                <h5 class="h5 text-white">Address</h5>
                                <p class="small text-muted">Grand Trunk Rd, Adisaptagram, Krishnapur Chandanpur, West Bengal 712502</p>
                            </li>
                            <li>
                                <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a
                                    class="text-primary" href="https://aot.edu.in/">
                                    https://aot.edu.in/ </a></p>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Contact Us</h4>
                        <div class="social-links">
                            <a href="https://github.com/JDXTR" target="_blank"><i class="fa-brands fa-github"></i></a>
                            <a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/in/jashojit-dutta-535836215" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>